*{
	margin:0px;
	padding:0px;
	font-family:arial;
	
}

header{
	width:100%;
	height:110px;
	border-bottom:1px solid black;
	background-image:url(images/header.jpg);
}
header img{
	margin:0px 700px 400px 200px;
}

header h1
{

	margin-left:200px;
	color:#FCFCFC;
}

header h5
{

	margin-left:200px;
	color:#9BA08C;
}

header ol #li1{
	display:inline-block;
	margin-left:500px;
	margin:-50px 7px 150px 500px;
	color:#99D142;
	font-size:14px;
	padding-top:10px;
}

header ol li{
	display:inline-block;
	margin-left:60px;
	color:#959787;
	font-size:14px;
	margin:-50px 7px 150px 60px;
	padding-top:10px;
}
header ol{
	margin-top:-30px;
	cursor:pointer;
}

header ol li:hover{
	color:#84C342;
}
	

nav{
	width:100%;
	height:6px;
	border-bottom:1px solid black;
	background-color:#BAD143;
	}
	
	
#sec1{
	width:100%;
	height:400px;
	border-bottom:1px solid black;
	background-image:url(images/sec1.jpg);
	background-size:100% 100%;
}
	
#sec1 img{
	margin:47px 700px 400px 200px;
	border:8px solid #9F9E9E;
	margin-top:60px;
	}

input{
	padding:6px;
	border:1px solid black;
	background-color:#DBED7B;
}
#sec1 h1{
	margin-bottom:300px;
	color:white;
	float:right;
	margin-right:270px;
	margin-top:-630px;
	font-size:30px;
}
#sec1 h4{
	color:#929687;
	float:right;
	padding-left:330px;
	margin-top:-530px;
	margin-right:190px;
	font-size:20px;
	
}



#sec2{
	width:100%;
	height:500px;
	border-bottom:1px solid black;
	display:flex;
	margin-top:10px;
	padding-top:-500px;
}
 #aside1
{
	width:70%;
	height:500px;
	display:inline-block;
	margin-left:-5px;
	margin-top:-250px;
}
 #aside1 h1{
	margin-top:60px;
	margin-left:200px
}
#aside1 h5{
	margin-top:20px;
	margin-left:200px;
}
#aside1 h6{
	margin-top:20px;
	margin-left:200px;
	color:gray;
}
#aside1 #mon{
	margin-top:30px;
	margin-left:200px;
    color:gray;
}

#aside1 ul li{
	margin-top:25px;
	margin-left:30px;
}


#aside1 img{
	margin-left:200px;
}

 #aside2
{
	width:30%;
	height:700px;
	display:inline-block;
}
#aside2 table{
margin-top:-190px;}

#aside2 table tr #t1
{
	background-color:#404040;
	text-indent:13px;
	color:white;
}
#aside2 table tr #t2
{
	background-color:#EFEFEF;
}
#aside2 table tr #t2 img
{
 margin-left:10px;
 border: 5px solid #FFFFFF;
}

#aside2 table tr #t3 img
{
 margin-left:10px;
 border: 5px solid #FFFFFF;
}

#aside2 table tr #t4 img
{
 margin-left:10px;
 border: 5px solid #FFFFFF;
} 

#aside2 table tr #t3
{
	background-color:#E0DFDF;
}
#aside2 table tr #t4
{
	background-color:#EFEFEF;
}

#aside2 table tr #t2  h6{
	float:right;
	margin-right:30px;
}
#aside2 table tr #t3  h6{
	float:right;
	margin-right:22px;
}

#aside2 table tr #t4  h6{
	float:right;
	margin-right:30px;
}

#aside2 table tr #t3  #p1{	
font-size:1px;
}

	
#sec4{
	width:100%;
	height:6px;
	border-bottom:1px solid black;
	background-color:#BAD143;
	margin-top:-160px;
}
footer
{
	width:100%;
	height:250px;
	border-bottom:1px solid black;
    background-color:#242827;
	background-size:100% 100%;
}
footer ol li
{
    display:inline-block;
	font-weight:bold;
	width:150px;
	text-align:center;
	padding-top:15px;
	padding-bottom:10px;
	padding-left:5px;
	color:white;
	text-align:left;
	
	
}
#foot{
	background-color:#232726;
	border-radius:25px;
margin-left:80px;
}
footer p{
	margin:140px 7px 20px 80px;
	color:gray;
	padding-top:2px;
}

#submenu{
	position:absolute;

}
footer ol #foot #submenu  h6 li{
	cursor:pointer;
	color:gray;
	padding-top:5px;
	margin-right:20px;
	
}

footer ol #foot{
	margin-left:90px;
	margin-bottom:15px;
	padding-bottom:15px;
	margin-top:10px;
	background-color:#232726;
	cursor:pointer;
	border-radius:25px;

	

}


	


	
	
	